.zoom-me{
    animation: zoom .1s linear both;
}

.rotate{
    animation: rotate 0.6s ease-in-out both;
}
.fade-in-right{
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay:.5s;
}


@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes zoom{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.1);
    }
}

@keyframes fade-in-right{
    0%{
        transform:translateX(50px);
        opacity:0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }

}
@keyframes opa{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}